{% extends 'header.html.twig' %}
{% block content %}
    <html>
    <head>
        <title>
            formation
        </title>
    </head>
    <body>


    <center>
        <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">


            <th>
                Image
            <td><b>Nom</b></td>
            <td><b>prenom</b></td>
            <td><b>role</b></td>
            <td><b>etat</b></td>



            </th>

            {% for user in users %}

                <tr>

                    <td><img src="{{ asset('images/') }}{{ user.nomImage }}" style="width: 100px;height: 100px"></td>
                    <td>{{ user.nom }}</td>
                    <td>{{ user.prenom }}</td>

                    {% if user.roles|join(', ')  =="ROLE_AGENT, ROLE_USER"  %}
                        <th scope="col">administrateur</th>
                    {% else %}
                        <th scope="col">client</th>
                    {% endif %}

                    {% if user.enabled  != NULL %}
                        <th scope="col">actif</th>
                    {% else %}
                        <th scope="col">bloqué</th>
                    {% endif %}


                    <td><a href="{{path('update_user',{'id':user.id})}}" class="btn btn-info btn-circle btn-lg">
                            <i class="fas fa-info-circle"></i>
                        </a>

                        <a href="{{path('delete_user',{'id':user.id})}}" class="btn btn-danger btn-circle btn-lg">
                            <i class="fas fa-trash"></i>
                        </a>

                        <a href="{{path('bloquer',{'id':user.id})}}" class="btn btn-warning btn-circle btn-lg">
                            <i class="fas fa-exclamation-triangle"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}


        </table>
        <div class="navigation">
            {{ knp_pagination_render(users) }}
        </div>


        <br>
        <a href="{{path('create_user')}}" class="btn btn-success btn-circle btn-lg">
            <i class="fas fa-plus"></i>
        </a>
    </center>
    </body>
    </html>
{% endblock %}