{% extends 'header.html.twig' %}
{% block content %}


        <input type="text" id="mot" name="mot" class="form-control bg-light border-0 small" placeholder="Search for...">

<br>

        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col"># Id Commande</th>
                <th scope="col">Nom client</th>
                <th scope="col">Prix Total</th>
                <th scope="col">Etat</th>
                <th scope="col">Action</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>

            {% for commande in commandes %}
                <tr>

                    <td>{{ commande.id }}</td>
                    <td>{{ commande.client.nom }}</td>
                    <td>{{ commande.prixtotal }}</td>
                    <td>{{ commande.etat }}</td>
                    <td>
                    {% if  commande.etat == "en cours" %}
                        <a href="{{ path('deleteAdmin', {'id':commande.id}) }}" class="btn btn-danger btn-circle">
                            <i class="fas fa-trash"></i>

                        </a>
                        </td>
                        <td>

                        <a href="{{ path('traiterAdmin', {'id':commande.id}) }}" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-check"></i>
                    </span>
                            <span class="text">Traiter</span>
                        </a>
                    {% endif %}
                    </td>

                <td>
                    <a href="{{ path('imprimerFacture', {'id':commande.id}) }}">
                        <button class="btn btn-primary hidden-print">
                            <span class="glyphicon glyphicon-print" aria-hidden="true"></span>Print
                        </button>

                    </a>
                </td>
                </tr>
            {% endfor %}


            </tbody>
        </table>



{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script>
       $(function(){
           $("#mot").keydown(function(){
               $.ajax({
                   type:"get",
                   url:"{{ path('filtreCommande') }}",
                   data:{
                       mot:$(this).val()
                   },
                   success:function (response) {
                       $("tbody").html("");
                       let content="";
                       response.commandes.forEach(element=>{
                           content+='<tr>'+
                                   '<td>'+element.id+'</td>'+
                               '<td>'+element.username+'</td>'+
                               '<td>'+element.prixtotal+'</td>'+
                               '<td>'+element.etat+'</td>'+
                           '<td>';
                           if(element.etat="en cours") {
                               content+='<a href='+Routing.generate("deleteAdmin",{id:element.id})+' class="btn btn-danger btn-circle">'+
                                  ' <i class="fas fa-trash"></i>'+
                                   '</a>'+
                                   '</td>'+
                                   '<td>'+
                                   '<a href='+Routing.generate("traiterAdmin",{id:element.id})+' class="btn btn-success btn-icon-split">'+
                                   '<span class="icon text-white-50">'+
                                   '<i class="fas fa-check"></i>'+
                                   '</span>'+
                                   '<span class="text">Traiter</span>'+
                                   '</a>';
                           }
                           content+=
                           '<td>'+
                               '<a href='+Routing.generate("imprimerFacture",{id:element.id})+'>'+
                               '<button class="btn btn-primary hidden-print">'+
                               '<span class="glyphicon glyphicon-print" aria-hidden="true"></span>Print'+
                               '</button>'+
                               '</a>'+
                               '</td>'+
                           '</tr>'

                       })
                       $("tbody").html(content);


                   }
               })
           })
       })
    </script>
{% endblock %}
